*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1%;
    
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    background-image:linear-gradient(to right, rgba(8, 8, 8, 0.5), rgba(1, 1, 1, 0.2)),url("../images/logo store.PNG");
    text-align: center;
    display: block;
    background-size: cover;
}
 
.here{
    width:50%;
    display:block;
    background-color: teal;
    color:white; 
    height:300px;
    box-sizing:border-box;
    border-radius: 10px;
    margin:10% auto auto;
    margin-top: 5%;
    font-size: 18px;
    
   

    
}
h1{
    color:black;
}


input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
} 
.button{
    background-color:teal;
    cursor:pointer;
    width:20%;
    border-radius:5px;
    margin-left: 20%;
    margin-top: 5%;
    height:40px;
    

}
.button a{
    text-decoration: none;
    color:white;
    font-size: 150%; 

}

.footer{
    font-size: 10%;
}  


@media screen and (max-width:800px){
.here{
    width:70%;
    font-size: 10px;
    padding: 8px 10;
    height:200px;

}   
}
