.topnav {
    background-color: #333;
    overflow: hidden;
    width: 96%;
    height: 80px;
    text-align: right;
    border-radius: 10px;
    padding: 20px 16px;
    color: white;
    
}
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* padding: 20px 16px; */
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 12%;
    height: 30%;
    text-align: initial;
}

.topnav a:hover {
    color: white;
    background-color: purple;
}

.active {
    color: white;
    background-color: purple;
}
.report{
    float: left;
    padding: 14px 16px;
    color: white;
}

.logo{
    float: left;
    padding: 14px 16px;
    border-radius: 25px;

}

.dropbtn {
    color: white;
    padding: 30px;
    font-size: 16px;
    border: none;

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    text-align: left;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
}
.dropdown-content a:hover {
    background-color: purple;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: purple;
}
.dropdown:hover .dropbtn {
    background-color: purple;
}

.sidenav {
    height: 400px; 
    width: 160px;
    background-color: #333; 
    font-size: 5px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color:white;
    background-color: purple;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    
}

.media{
   float: right;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube{
    background: red;
    color: white;

}
.fa-google{
    background: red;
    color: white;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


.topnav {
    background-color: #333;
    overflow: hidden;
    width: 96%;
    height: 100px;
    border-radius: 10px;
}
.ireport{
    float: right;
    margin-left: 15%;
}

.logo{
    float: left;
    padding: 14px 16px;
    border-radius: 25px;

}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color:purple;
    color: white;
    border-radius: 10px;
}

.active {
    background-color: purple;
    color: white;
    border-radius: 10px;
}

.topnav .icon {
    display: none;
}

.container {
    padding: 2px 16px;

}


  table {
    font-family: arial, sans-serif;
    width: 80%;
    float:right;
    margin-top: -20%;
    border-radius: 10px;
    margin-right: 18px;
}

td, th {
    text-align: left;
    padding: 8px;
}


@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
