* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 500px;
    border-radius: 10px;
    margin-top: 10px;
}
.card{
    float: right;
    margin-top: 40px;
    margin-right: 80px;
    
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    height: 300px; 
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    width: 96%;
    height: 100px;
    border-radius: 10px;
}
.report{
    float: left;
    padding: 14px 16px;
    color: white;
}

.logo{
    float: left;
    padding: 14px 16px;
    border-radius: 25px;

}


/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:purple;
    color: white;
    border-radius: 10px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: purple;
    color: white;
    border-radius: 10px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* .card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 purple;
    transition: 0.3s;
} */

/* On mouse-over, add a deeper shadow */
/* .card:hover {
    box-shadow: 0 8px 16px 0 purple;
} */ */

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;

}
.button{
    background-color:purple;
    cursor:pointer;
    width:50%;
    border-radius:5px;
    margin-left: 20%;
    margin-top: 5%;
    height:40px;
    

}
.button a{
    text-decoration: none;
    color:white;
    font-size: 150%; 

}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
