<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/admin.css" />
</head>
</header>
<body>

<section>
        <div class="topnav" id="myTopnav">
                <img class="logo" src="../images/hands.PNG" width="100px" height="80px">
                <h1 class="report">i-Reporter</h1>

                <a href="../index.html" >Log Out</a>        
                <a href="#" class="active">Home</a>
               
                </a>
              </div>

            <article>
        
            </head>
            <body>
            
              <div class="column middle">
                    <h2>All redflags records</h2>
                    <p> 1.Bribery and payoffs.</p>
                    <p> 2.MisUse of official position.</p>
                    <p> 3.illegal financing of political parties.</p>
                    <p> 4.Vote buying	.</p>
                    <p> 5.Graft and Emblezzment of public funds.</p>
                    <p> 6.Sexual Harrasment.</p>
                    <p> 7.Blackmail and extortion.</p>
                    <p> 8.conflict of interest.</p>
              </div>
              
               <div class="column right">
                    <h2>Status</h2>
                    
                        <div class="colummn">
                          <select id="Status" name="Status">
                            <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                          </select>
                        </div>

                        <br><div class="colummn">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>

                          <br><div class="colummn">
                            <select id="Status" name="Status">
                              <option value="rejected">rejected</option>
                              <option value="resolved">resolved</option>
                              <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <br><div class="colummn">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <br><div class="colummn">
                              <select id="Status" name="Status">
                                  <option value="rejected">rejected</option>
                                  <option value="resolved">resolved</option>
                                  <option value="under investigations">under investigations</option>
                              </select>
                            </div>
                          
                          
                          <br><div class="colummn">
                              <button type="button">Done</button>  
                            </div>
                          
                    </div>
                
          </article>

          <article>
        
        </head>
        <body>
        
          <div class="column middle">
                <h2>All intervention records</h2>
                <p> 1.	Awareness raising/promotional/motivational activities (public gatherings, cultural 
                  activities, fairs, debates, essay competitions)..</p>
                <p> 2.	Advocacy and lobbying (meetings, roundtables, seminars, FtP, citizen’s report card, ).
                    Integrity Pledge (oath taking).</p>
                <p> 3.	AI desks/ALAC (information, assistance, referral, hotline)..</p>
                <p> 4.	 Capacity development (orientation, training, workshop).</p>
                <p> 5.	Publication (newsletter).</p>
                <p> 6.	Networking & partnership.</p>
                <p> 7.	Face-the-Public</p>
                <p> 8.	Advice & Information Desk (AI Desk)</p>
                
          </div>
          
           <div class="column right">
                <h2>Status</h2>
                <div class="colummn">
                    <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                    </select>
                  </div>

                  <br><div class="colummn">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>

                    <br><div class="colummn">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <br><div class="colummn">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <br><div class="colummn">
                        <select id="Status" name="Status">
                          <option value="rejected">rejected</option>
                          <option value="resolved">resolved</option>
                          <option value="under investigations">under investigations</option>
                        </select>
                      </div>
                    
                    <br><div class="colummn">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    
                    <br><div class="colummn">
                        <button type="button">Done</button>
                      </div>
                    
              </div>
                </div>
               
        </div>
        
        
       
      </article>
</section>
</body>
</html>
