<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/admin.css" />
</head>
</header>
<body>

<section>
        <div class="topnav" id="myTopnav">
                <img class="logo" src="../images/hands.PNG" width="100px" height="80px">
                <h1 class="report">i-Reporter</h1>

                <a href="#" >more options</a>        
                <a href="#" >Preventing corruption</a>
                <a href="#">Investigating corruption</a>
                <a href="../Templates/user.html" class="active">Home</a>
               
                </a>
              </div>

            <article>
        
            </head>
            <body>
            
              <div class="column middle">
                    <h2>All redflags records</h2>
                    <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                    <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                    <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                    <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                    <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                    <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                    <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                    <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                    
              </div>
              
               <div class="column right">
                    <h2>Status</h2>
                    
                        <div class="col-75">
                          <select id="Status" name="Status">
                            <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                          </select>
                        </div>

                        <div class="col-75">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>

                          <div class="col-75">
                            <select id="Status" name="Status">
                              <<option value="rejected">rejected</option>
                              <option value="resolved">resolved</option>
                              <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <div class="col-75">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <div class="col-75">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <div class="col-75">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <div class="col-75">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                          <div class="col-75">
                            <select id="Status" name="Status">
                                <option value="rejected">rejected</option>
                                <option value="resolved">resolved</option>
                                <option value="under investigations">under investigations</option>
                            </select>
                          </div>
                    </div>
                    
                    
                   <!-- </div>
            </div>
             -->
            
                
          </article>

          <article>
        
        </head>
        <body>
        
          <div class="column middle">
                <h2>All intervention records</h2>
                <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                <p> 1.	Users can add images to their red-flag or intervention records, to support their claims.</p>
                <p> 2.	Users can add videos to their red-flag or intervention records, to support their claims.</p>
                
          </div>
          
           <div class="column right">
                <h2>Status</h2>
                <div class="col-75">
                    <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                    </select>
                  </div>

                  <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>

                    <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
                    <div class="col-75">
                      <select id="Status" name="Status">
                        <option value="rejected">rejected</option>
                        <option value="resolved">resolved</option>
                        <option value="under investigations">under investigations</option>
                      </select>
                    </div>
              </div>
                
                
               </div>
        </div>
        
            
      </article>
</section>
</body>
</html>
