<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/flag.css" />
</head>
</header>
<body>

<section>
        <div class="topnav" id="myTopnav">
                <img class="logo" src="../images/hands.PNG" width="100px" height="80px">
                <h1 class="report">i-Reporter</h1>

                <a href="#" >more options</a>        
                <a href="../Templates/user.html">View record</a>
                <a href="../Templates/user.html" class="active">Home</a>

                </a>
              </div>

        <div class="card">
                <img src="../images/profile.PNG"  width="100px" height="80px">
                <div class="container">
                  <h4><b> Namaara Racheal</b></h4> 
                  <p><b>Citizen</b></p> 
                </div>
              </div>
  
  <article>
        
    </head>
    <body>
    
            <div class="container">
                    <!-- <form action="action_page.php"> -->
                      <div class="row">
                        <div class="columnn">
                          <label for="fname">Your Name</label>
                        </div>
                        <div class="colummn">
                          <input type="text" id="fname" name="firstname" placeholder="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="fname">Name of your Flag/intervention</label>
                        </div>
                        <div class="colummn">
                          <input type="text" id="fname" name="firstname" placeholder="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="fname">Add geolocation</label>
                        </div>
                        <div class="colummn">
                          <textarea id="subject" name="subject" placeholder="Lat cordinates" style="height:50px"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                        </div>
                        <div class="colummn">
                          <textarea id="subject" name="subject" placeholder="Long cordinates" style="height:50px"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="location">select a record category</label>
                        </div>
                        <div class="colummn">
                          <select id="location" name="location">
                            <option value="Entebbe">Redflag record</option>
                            <option value="Kampala">Intervention record</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columnn">
                          <label for="subject">What are your reporting about</label>
                        </div>
                        <div class="colummn">
                          <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="button"><a href="#">Post record</a></button>
                        
                        
                       
                      </div>
                    </form>
                  </div>
    
        
  </article>
</section>

</body>
</html>
