<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable-no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/user.css" />
</head>
</header>
<body>

<section>
        <div class="topnav" id="myTopnav">
                <img class="logo" src="../images/hands.PNG" width="100px" height="80px">
                <h1 class="report">i-Reporter</h1>
                
                <a href="../index.html" >Log out</a>   
                <a href="../Templates/flag.html" >Create record</a>        
                <a href="../Templates/intervention.html">View profile</a>
                
                
                </a>
              </div>
  <article>
        
    </head>
    <body>
    
      <div class="column middle">
            <h2>All Redflag Records</h2>
            <p> 1.Bribery and payoffs.</p>
            <p> 2.MisUse of official position.</p>
            <p> 3.illegal financing of political parties.</p>
            <p> 4.Vote buying	.</p>
            <p> 5.Graft and Emblezzment of public funds.</p>
            <p> 6.Sexual Harrasment.</p>
            <p> 7.Blackmail and extortion.</p>
            <p> 8.conflict of interest.</p>
            
      </div>
      <div class="column right">
        <h2>Action</h2>
        <button type="submit" class="button"><a href="#">Edit</a></button>
        <button type="submit" class="button"><a href="#">Delete</a></button>
        <br><br><br>
        <button type="submit" class="button"><a href="#">Edit</a></button>
        <button type="submit" class="button"><a href="#">Delete</a></button>
        
        
        
        
       </div>
       <div class="column right">
            <h2>Status</h2>
            <p>None</p>
            <br><p>None</p>
            <br><p>None</p>
            <br><p>None</p>
            <button type="submit" class="button"><a href="#">Done</a></button>
            

           </div>
           
    </div>
    
    
  </article>
  
</section>
<article>
        
  </head>
  <body>
  
    <div class="column middle">
          <h2>All intervention Records</h2>
          <p> 1.	Awareness raising/promotional/motivational activities (public gatherings, cultural 
              activities, fairs, debates, essay competitions)..</p>
            <p> 2.	Advocacy and lobbying (meetings, roundtables, seminars, FtP, citizen’s report card, ).
                Integrity Pledge (oath taking).</p>
            <p> 3.	AI desks/ALAC (information, assistance, referral, hotline)..</p>
            <p> 4.	 Capacity development (orientation, training, workshop).</p>
            
            
    </div>
    <div class="column right">
      <h2>Action</h2>
      <button type="submit" class="button"><a href="#">Edit</a></button>
      <button type="submit" class="button"><a href="#">Delete</a></button>
      <br><br><br>
      <button type="submit" class="button"><a href="#">Edit</a></button>
      <button type="submit" class="button"><a href="#">Delete</a></button>
      
      
      
      
     </div>
     <div class="column right">
          <h2>Status</h2>
          <p>None</p>
          <br><p>None</p>
          <br><p>None</p>
          <br><p>None</p>
          <button type="submit" class="button"><a href="#">Done</a></button>
          

         </div>
         
  </div>
  
  
</article>

</section>


</body>
</html>
